<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Bootstrap EXERCICIO</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="EXERCICIO">
    <meta name="author" content="TATI">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>

  <body>

    <div class="jumbotron">

        <h1 class="display-3">A Warm Welcome!</h1>

       <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt dit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
        <p class="lead"><a class="btn btn-primary btn-lg" href="#" role="button">Saiba Mais</a></p>
    </div>

    <div class="row row-1">

        <div class="col-md-8">
          <img class="img-fluid" src="http://placehold.it/750x500" alt="">
        </div>

        <div class="col-md-4">
          <h3 class="my-3">Project Description</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
          <h3 class="my-3">Project Details</h3>
          <ul>
            <li>Lorem Ipsum</li>
            <li>Dolor Sit Amet</li>
          </ul>
        </div>
    </div>
  
    <div class="row row-1">

        <div class="col-12 col-md-12">
          <h3 class="my-4">Related Projects</h3>
        </div>

        <div class="col-12 col-md-3">
        <div class="card">
             <img class="card-img-top" src="http://placehold.it/500x300">
         </div>
         </div>
                
         <div class="col-12 col-md-3">
        <div class="card">
             <img class="card-img-top" src="http://placehold.it/500x300">
         </div>
         </div>

        <div class="col-12 col-md-3">
        <div class="card">
             <img class="card-img-top" src="http://placehold.it/500x300">
         </div>
         </div>

       <div class="col-12 col-md-3">
        <div class="card">
             <img class="card-img-top" src="http://placehold.it/500x300">
         </div>
         </div>
    </div>
  
    <div class="row row-1"> 
      <div class="col-12 col-md-12 text-center">
        <h3 class="display-5">Equipe</h3>
      </div>
    </div>

    <div class="row row-2">
            
            <div class="col-12 col-md-2">
              <div class="card text-center">
                <img class="card-img-top" src="http://placehold.it/500x325">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Find out more!</a>
                        </div>
                   </div> 
              </div>
            </div>

            <div class="col-12 col-md-2">
              <div class="card text-center">
                <img class="card-img-top" src="http://placehold.it/500x325">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Find out more!</a>
                        </div>
                   </div> 
              </div>
            </div>
            
            <div class="col-12 col-md-2">
              <div class="card text-center">
                <img class="card-img-top" src="http://placehold.it/500x325">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Find out more!</a>
                        </div>
                   </div> 
              </div>
            </div>

            <div class="col-12 col-md-2">
              <div class="card text-center">
                <img class="card-img-top" src="http://placehold.it/500x325">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Find out more!</a>
                        </div>
                   </div> 
              </div>
            </div>
    </div>

    <div class="row row-2">
            
            <div class="col-12 col-md-2">
              <div class="card text-center">
                <img class="card-img-top" src="http://placehold.it/500x325">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Find out more!</a>
                        </div>
                   </div> 
              </div>
            </div>

            <div class="col-12 col-md-2">
              <div class="card text-center">
                <img class="card-img-top" src="http://placehold.it/500x325">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Find out more!</a>
                        </div>
                   </div> 
              </div>
            </div>
            
            <div class="col-12 col-md-2">
              <div class="card text-center">
                <img class="card-img-top" src="http://placehold.it/500x325">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Find out more!</a>
                        </div>
                   </div> 
              </div>
            </div>

            <div class="col-12 col-md-2">
              <div class="card text-center">
                <img class="card-img-top" src="http://placehold.it/500x325">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Find out more!</a>
                        </div>
                   </div> 
              </div>
            </div>
    </div>
 
    <div class="row row-2">

      <div class="col-12 col-md-4">
      <img class="img-fluid" src="http://placehold.it/700x300">
      </div>

      <div class="col-12 col-md-4 text-1">
         <h3 class="display-5">Depoimentos</h3>
             <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque finibus varius luctus. Aenean maximus lorem vel nisi suscipit pulvinar. Etiam lobortis purus quis eros ultrices ornare.</p>
            <a href="#" class="btn btn-primary">View project</a>
      </div>
    </div>   
  
    <div class="jumbotron jumbotron-1">
      <h3 class="display-5">Faça o seu cartão</h3>
      <a href="#" class="btn btn-primary">View project</a>  
    </div>
      
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>